<!DOCTYPE html>
<html>
  <head>
    <title>Achint's CS 253 Blog SignUp</title>
  </head>

  <link type="text/css" rel="stylesheet" href="/static/main.css">
</style>
  <body>
  	{% include 'header.html' %}
	<form method="post">
		<table>
		<tr>
		  <td>Username</td>
		  <td><input name="username" value="{{username}}"></td>
		  <td class="error">{{errorUsername}}</td>
		</tr>
		<tr>
		  <td>Password</td>
		  <td><input type="password" name="password"></td>
		  <td class="error">{{errorPassword}}</td>
		</tr>
		<tr>
		  <td>Verify Password</td>
		  <td><input type="password" name="verify"</td>
		  <td class="error">{{errorVerify}}</td>
		</tr>
		<tr>
		  <td>Email(optional)</td>
		  <td><input name="email" value="{{email}}"></td>
		  <td class="error">{{errorEmail}}</td>
		</tr>
		</table>
		<input type="submit">
	  </form>
	</body>
</html>